<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/dashboardHeader.css">
    <link rel="stylesheet" href="/css/card.css">
</head>
<body>
    
    <div class="board">
        <div class="card-container">
            <% if(cards.length > 0) { for(var i=0; i < cards.length; i++) { %>
            <div class="card">
                <div class="top-section">
                    <a class="card-title" href="/dashboard/item/<%= cards[i]._id %>"><%= cards[i].title %></a>
                    <div class="icon-box">
                        <img class="chat-icon" src="./access/icon/icons8-chat-room-30 (1).png" alt="">
                    </div>
                </div>
                <div class="middle-section">
                    <div class="person">
                        <div class="person-title">ผู้รับผิดชอบ:</div>
                        <div class="person-icon">
                            <%= cards[i].responsiblePerson %>
                        </div>
                    </div>
                    <div class="dead-line">
                        <div class="dead-line-title">กำหนดส่ง:</div>
                        <div class="date-calender"><%= cards[i].deadline %></div>
                    </div>
                    <div class="status">
                        <div class="status-tile">สถานะ:</div>
                        <div class="status-now"><%= cards[i].workstatus %></div>
                    </div>
                </div>
            </div>
            <% }} else { %>
                <div>
                    <h1>ว่างเปล่า</h1>
                </div>
            <% } %>
        </div>
        </div>
             
                

</body>
</html>